{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
<div class="container ">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid reg-header-container">
    <div class="row">
        <form method="post" action="{% url 'ratings:rate_product' product_id %}">
  {% csrf_token %}
  <label for="stars">Rating:</label>
  <select name="stars" id="stars">
    <option value="1">1 star</option>
    <option value="2">2 stars</option>
    <option value="3">3 stars</option>
    <option value="4">4 stars</option>
    <option value="5">5 stars</option>
  </select>
  <br>
  <label for="comment">Comment:</label>
  <textarea name="comment" id="comment" rows="4" cols="50"></textarea>
  <br>
  <input type="submit" value="Submit">
</form>
    </div>
</div>
{% endblock %}