{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'ratings/css/ratings.css' %}">
{% endblock %}

{% block page_header %}
<div class="container reg-header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for rating in ratings %}
      <div id="accordion{{ rating.id }}">
        <div class="card">
          <div class="card-header" id="heading{{ rating.id }}">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ rating.id }}" aria-expanded="true" aria-controls="collapse{{ rating.id }}">
                <h5>{{ rating.product }}</h5>
              </button>
            </h5>
          </div>
          <div id="collapse{{ rating.id }}" class="collapse" aria-labelledby="heading{{ rating.id }}" data-parent="#accordion{{ rating.id }}">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
</div>

{% endblock %}